<%= data.overline %>
<%= data.name %>
<%= data.underline %>

<%= render('attribute', data.attributes) %>

<%= render('function', data.functions) %>

<%= render('class', data.classes) %>

<%= render('namespace', data.namespaces) %>

<%= render('module', data.modules) %>
